@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color-gold-50: hsl(54, 45%, 96%);
  --color-gold-100: hsl(54, 49%, 78%);
  --color-gold-200: hsl(54, 47%, 70%);
  --color-gold-300: hsl(54, 46%, 56%);
  --color-gold-400: hsl(54, 55%, 43%);
  --color-gold-500: hsl(54, 56%, 25%);
  --color-gold-600: hsl(54, 50%, 23%);
  --color-gold-700: hsl(53, 51%, 18%);
  --color-gold-800: hsl(54, 52%, 7%);
  --color-gold-900: hsl(54, 45%, 5%);

  --color-primary-50: #cccfdd;
  --color-primary-100: #848fc5;
  --color-primary-200: #5a68af;
  --color-primary-300: #3e4e9e;
  --color-primary-400: #1f3088;
  --color-primary-500: #0b1c70;
  --color-primary-600: #010e52;
  --color-primary-700: #000831;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-gold-500);
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}